<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440615029186-2sthj3e3fo5epmj8beavrt0kn7e2d8on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440615029186-2sthj3e3fo5epmj8beavrt0kn7e2d8on</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440615029186-0sbu42ubbh4c25ien5nv08brotd833s0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA6rUdFkcSeXvKlFOHJlWCN4BUWoaM-94</string>
	<key>GCM_SENDER_ID</key>
	<string>440615029186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takenow</string>
	<key>PROJECT_ID</key>
	<string>takenow-22ee7</string>
	<key>STORAGE_BUCKET</key>
	<string>takenow-22ee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440615029186:ios:7bea33df7d13592e6f2e5b</string>
</dict>
</plist>